body {
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: Consolas, monaco, monospace;
}

body *,
body *:before,
body *:after {
    box-sizing: inherit;
}

.calc {
    margin: 0 auto;
    width: 420px;
}

.calc-display {
    padding: 20px;
    font-size: 30px;
    text-align: right;
}

.calc-body-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.calc-button {
    margin: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 90px;
    line-height: 2.2;
    background: #000;
    font-family: inherit;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.calc-button:disabled {
    opacity: 0.3;
    cursor: unset;
}

.calc-button:hover:not([disabled]) {
    background: #5d4f09;
}

.calc-button-digit {
    background: #86710e;
}

.calc-button-digit:hover {
    background: #5d4f09;
}